<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/home.css">
    <!--<link rel="stylesheet" href="/css/normalize.css">-->
    <!-- Libraries-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
   
    <title>MercadoLiebre</title>
</head>
<body>
    <header class="main-header">
      <section class="cajatop"> 
            <!--logo -->
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo"/>
            </div> 
            <!--barra de busqueda -->
            <form class="nav-search" action="#" method="POST" enctype="multipart/form-data">
                <input type="text" name="buscar" id="buscar" placeholder="Buscar productos, marcas" class="nav-search">
                <button type="submit" class="nav-search-btn">
               <i class="fas fa-search"></i></button>
            </form>
                <!--Mjs -->
            <div class="texto">
                <h2>
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito         
                </h2>
            </div>
      </section> 
       <!--barra de navegacion -->
        <nav class="main-navbar"> 
        <ul class="flex-container-left"> 
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>            
        </ul>   
        <ul class="flex-container-right"> 
            <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
       
        <!--Menu hamburguesa -->
        <div class="burger-menu">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>        
        <!--Enlaces a redes sociales -->
        
    </header>

    <main>
        <!--banner -->
        <div class="banner">
            <img src="images/img-home-banner.jpg" alt="banner" class="banner"/>
        </div>
        <h1 class="titular">Basado en tu última visita</h1>
        
        <section>            
            <article class="producto">
                <figure>
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera"/>
                </figure>
                <span class="envio"><i class="fas fa-truck"></i></span>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <article class="producto">
                <figure> 
                    <img src="images/img-macbook-pro-2019.jpg" alt="mac"/>
                </figure>
                <span class="envio"><i class="fas fa-truck"></i></span>
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
        <article class="producto">
            <figure>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="celu"/>
            </figure>
                <span class="envio"><i class="fas fa-truck"></i></span>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion">Samsung Galaxy S10</p>
        </article>  

        <article class="producto">
            <figure>
                <img src="images/img-tv-samsung-smart.jpg" alt="tv"/>
            </figure>            
                <span class="envio"><i class="fas fa-truck"></i></span>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion">SmartTv Samsung 43</p>
        </article> 

        </section>
        <h2 class="titular">Ofertas</h2>
        <section>            
            <article class="producto">
                <figure>
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                </figure>
                <span class="envio"><i class="fas fa-truck"></i></span>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <article class="producto">
                <figure> 
                    <img src="images/img-macbook-pro-2019.jpg" alt="mac">
                </figure>
                <span class="envio"><i class="fas fa-truck"></i></span>
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
        <article class="producto">
            <figure>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="celu">
            </figure>
                <span class="envio"><i class="fas fa-truck"></i></span>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion">Samsung Galaxy S10</p>
        </article>  

        <article class="producto">
            <figure>
                <img src="images/img-tv-samsung-smart.jpg" alt="tv">
            </figure>            
                <span class="envio"><i class="fas fa-truck"></i></span>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion">SmartTv Samsung 43</p>
        </article> 

        </section>
    </main>

    <footer>
        <div class="itemfooter">      
            <article>
                <i class="fas fa-credit-card"></i>
                <p class="itemfooter"><b>Pagá con tarjeta o en efectivo</b></p>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>            
            <article>
                <i class="fas fa-gift"></i>
                <p class="itemfooter"><b>Envío gratis desde $ 2.500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <p class="itemfooter"><b>Seguridad, de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>
        <div class="Copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div> 
      <!--
        <nav>
            <ul><a href="#">Términos y Condiciones</a></ul>
            <ul><a href="#">Mapa de Sitio</a></ul>
            <ul><a href="#">Información legal</a></ul>
        </nav>-->
    </footer>
</body>
</html>