<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/home.css">
    <!--<link rel="stylesheet" href="/css/normalize.css">-->
    <!-- Libraries-->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/regular.min.css" 
    integrity="sha512-Nqct4Jg8iYwFRs/C34hjAF5og5HONE2mrrUV1JZUswB+YU7vYSPyIjGMq+EAQYDmOsMuO9VIhKpRUa7GjRKVlg==" 
    crossorigin="anonymous" />
    <title>MercadoLiebre - Login</title>
</head>
<body>
    <header>
        <!--logo -->
       <div> <img src="/images/logo-mercado-liebre.svg" alt="logo" width="30%"/></div>
        <!--barra de navegacion -->
        <nav>
        <ul> 
            <li><a href="#"><i class="fas fa-tag"></i>Ofertas</a></li>
            <li><a href="#"><i class="fas fa-store"></i>Tiendas Oficiales</a></li>
            <li><a href="#"><i class="fas fa-tags"></i>Vender</a></li>
            <li><a href="#"><i class="fas fa-question-circle"></i>Ayuda</a></li>
            <li><a href="#"><i class="fas fa-id-card"></i>Creá tu cuenta</a></li>
            <li><a href="#"><i class="fas fa-sign-in-alt"></i>Ingresá</a></li>
            <li><a href="#"><i class="fas fa-shopping-basket"></i>Mis compras</a></li>
        </ul>
    </nav>
       
        <!--Menu hamburguesa -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <!--barra de busqueda -->
        <form action="#" method="POST">
            <!-- escribí tu código aquí -->
            <label for="buscar"> Buscar </label>
            <input type="text" name="buscar" id="buscar">
            </form>
        <!--Enlaces a redes sociales -->
    </header>
<main>
    <img src="images/img-home-banner.jpg" alt="banner">
    
    <form action="/" method="POST" enctype="multipart/form-data">
       <fieldset>
           <legend>Registro de Usuario</legend> 
            <label for="name">Nombre:</label>
           <input type="text" id="name" name="name">
       </fieldset>
       
      
        
      </form>
    
</main>

    <footer>
        <div>
            <h1>Pagá con tarjeta o en efectivo</h1>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <h1>Envío gratis desde $ 2.500</h1>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <h1>Seguridad, de principio a fin</h1>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@. <br>
                Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
       
        <nav>
            <ul><a href="#">Términos y Condiciones</a></ul>
            <ul><a href="#">Mapa de Sitio</a></ul>
            <ul><a href="#">Información legal</a></ul>
        </nav>
    </footer>
</body>
</html>